/**
 * @file
 * Defines the default Views Custom Style CSS
 */

/* define draggable views styling */
.draggableviews-processed li.views-row {
  cursor: move;
  display: block;
  float: left;
/*  height: 180px;  uncomment and adjust for fixed height displays */
  margin: 10px;
  padding: 5px;
  width: 180px;
}
.draggableviews-processed li.views-row.ui-sortable-helper {
  border: 1px dotted blue;
}
.draggableviews-processed li.views-row {
  border: 1px dotted grey;
}
.draggableviews-weight {
  display: none;
}
